<div style="padding:2%;">
	<h2 align="center">Inventory</h2>
</div>
<div ng-controller="InventoryCtrl as inventory" style="padding-left:5%; padding-right:5%;">
<table class="table table-striped table-bordered" cellspacing="0">
        <tr>
	        <th>Product ID</th>
        	<th>Product Category</th>
            <th>Name</th>
            <th>Expiry Date</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in inventory.products">
	        <td>{{ product.ObjectID }}</td>
	        <td>{{ product.prodCategoryId }}</td>
	        <td>{{ product.name }}</td>
	        <td>{{ product.expiryDate }}</td>
	        <td>
				<button type="button" class="btn btn-danger" ng-click="inventory.deleteInventoryProduct(product.ObjectID)">Delete</button>
	        </td>
        </tr>
</table>
</div>