<h2>Shopping Cart</h2>
<div ng-controller="ShoppingCartCtrl as shoppingCart" class="content">
	<table class="table table-striped table-bordered" cellspacing="0">
		<tr>
			<th>Amount</th>
			<th>Product</th>
			<th>Price per piece</th>
			<th>Sum price</th>
			<th> </th>
		</tr>
		<tr ng-repeat="prod in shoppingCart.products" class="hoverable">
			<td>{{ prod.amount }}</td>
			<td>{{ prod.name }}</td>
			<td>{{ prod.preis }}</td>
			<td>{{ prod.preis * prod.amount }}</td>
			<td>
				<button ng-click="shoppingCart.deleteProduct(prod)">Delete</button>
			</td>
		</tr>
	</table>

	<div ng-show="shoppingCart.empty(shoppingCart.products)">
		Create an order in your shopping list!
	</div>

	<button ng-click="shoppingCart.submit()">Submit order</button>
</div>