<div>
	<h2>Product list</h2>
</div>
<div ng-controller="ProductListCtrl as productList" class="content">
	<table class="table table-striped table-bordered" cellspacing="0">
	        <tr>
		        <th>Product</th>
	        	<th>Size</th>
	            <th>Price</th>
	            <th>Calories</th>
	            <th></th>
	        </tr>
	         
	        <tr ng-repeat="product in productList.products">
		        <td>{{ product.name }}</td>
		        <td>{{ product.verpackungsgroesse }}</td>
		        <td>{{ product.preis }}</td>
		        <td>{{ product.calories }} kcal</td>	
		        <td>
					<button type="submit" class="btn_add" ng-click="productList.addToShoppingList(product)">Add</button>
		        </td>
	        </tr>	        
	</table>	
</div>