<div>
	<p><b>Shopping List</b></p>
</div>
<div ng-controller="ShoppingListCtrl as shoppingList">
	<table class="table table-striped table-bordered" cellspacing="0">
	        <tr>
		        <th>Product</th>
	        	<th>Minimum Stock</th>
	            <th>Maximum Stock</th>
	            <th>regularly</th>
	            <th></th>
	        </tr>
	         
	        <tr ng-repeat="product in shoppingList.products">
		        <td>{{ product.name }}</td>
		        <td>
		        	<input id="edt_bestandMin_{{product.id}}" type="number" min="0" max="{{ product.hoechstBestand }}" step="1" value="{{ product.mindestBestand }}" style="width: 40px">
		        	<button ng-click="shoppingList.updateMindestBestand(product)">Update</button>
		        </td>
		        <td>
		        	<input id="edt_bestandMax_{{product.id}}" type="number" min="0" step="1" value="{{ product.hoechstBestand }}" style="width: 40px">
		        	<button ng-click="shoppingList.updateHoechstBestand(product)">Update</button>
		        </td>
		        <td>
		        	<input type="checkbox" id="cbox_regularly" ng-click="shoppingList.setRegulary(product, product.regelmaessig)" ng-checked="product.regelmaessig"></input>
		        </td>
		        <td>
					<button type="submit" class="btn_delete" ng-click="shoppingList.deleteProduct(product.id)">Delete</button>
		        </td>
	        </tr>	        
	</table>
	<a href="#!/productlist">
		<button>Add Product</button>
	</a>	
	<a href="#!/shoppingcart">
		<button>Create Order</button>
	</a>
</div>