
<h2>Invoice-Overview</h2>
	<p></p>
<div ng-controller="InvoiceCtrl as invoiceCtrl">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Invoice Number</th>
				<th>Order Date</th>
				<th>Total Price</th>
				<th>Invoice (Download as .pdf)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="invoice in invoiceCtrl.invoices">
				<td>{{ invoice.id }}</td>
				<td>{{ invoice.orderDate }}</td>
				<td>{{ invoice.totalPrice }}</td>
				<td>
					<button type="submit" ng-click="invoiceCtrl.savePDF(invoice.id)">Download Invoice</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>