h2 {
  text-align:center;
  padding:2%;
}
h3 {
  text-align:center;
  padding: 1%;
}
label {
  font-weight: 100;
}

.content {
  margin:2em;
  padding-left:5%;
  padding-right:5%;
}
.padding {
  padding: 2em;
}

.hoverable:hover  {
  background-color: whitesmoke;
}
.center {
  text-align:center;
}
.left {
  text-align:left;
}
.success {
  font-weight:bold;
  text-transform: uppercase;
  color: green;
  padding: 1em;
  font-size:0.8em;
}

.dummy {
  margin-top: 100%;
}
.thumbnail {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
  text-align:center;
  padding-top:calc(50% - 30px);
  color:#FFF;
  background-color:#999;
  font-size:16px;
}
.container {
  padding-left:20%;
  padding-right:20%;
  padding-top:5%;
}

#shoppingCart .totalPrice {
  font-weight: bold;
}
#shoppingCart .totalPrice td {
  border: none;
}

#settings select {
  margin-left: 2em;
}