
<!-- All the files that are required -->
<!-- (includes in index.html) -->

<!-- Where all the magic happens -->

<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:30px 0; width:50%; margin: 0 auto">
	<div class="logo" style="padding-bottom:40px"><img src="navigation/Logo_FreezerManagement-01.png" width=150px height=auto></div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form" ng-controller="myaccountCtrl as myData">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Username</label>
						<label hidden="true"> <input type="checkbox" ng-model="checked"></label>
						<input type="text" readonly="true" class="form-control" id="reg_username" name="reg_username" ng-model="myData.user.username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Password</label>
						<input type="password" ng-readonly="checked" ng-change="passwordChanged()" class="form-control" id="reg_password" name="reg_password" ng-model="myData.user.password" placeholder="password">
					</div>
					<div class="form-group">
						<label hidden="true"> <input type="checkbox" ng-model="checked_PwConfirm"></label>
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" ng-hide="checked_PwConfirm" class="form-control" name="reg_password_confirm" ng-model="myData.password_confirm" placeholder="confirm password">
					</div>
					<div class="form-group">
						<label for="reg_firstname" class="sr-only">First Name</label>
						<input type="text" ng-readonly="checked" class="form-control" id="reg_firstname" name="reg_firstname" ng-model="myData.user.firstName" placeholder="first name">
					</div>
					<div class="form-group">
						<label for="reg_lastname" class="sr-only">Last Name</label>
						<input type="text" ng-readonly="checked" class="form-control" id="reg_lastname" name="reg_lastname" ng-model="myData.user.lastName" placeholder="last name">
					</div>
					<div class="form-group">
						<label for="reg_email" class="sr-only">Email</label>
						<input type="text" ng-readonly="checked" class="form-control" id="reg_email" name="reg_email" ng-model="myData.user.email" placeholder="email">
					</div>
					
					
					<div ng-hide="checked" class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_usertype" id="admin" ng-model="myData.role" placeholder="admin">
						<label for="admin">admin</label>
						
						<input type="radio" class="" name="reg_usertype" id="user" ng-model="myData.role" placeholder="user">
						<label for="user">user</label>
					</div>
					
				</div>
				<div class="text-right">
					<button type="button" class="btn btn-secondary" id="btn_cancel" ng-hide="checked" ng-click="myData.cancel()"> Cancel </button>
					<button type="button" class="btn btn-secondary" id="btn_edit" ng-click="myData.editAccount()"> {{ textEditButton }} </button>
					<button type="button" class="btn btn-danger" id="btn_delete" ng-hide="!checked" ng-click="myData.deleteAccount(myData.user.username)">Delete Account</button>
				</div>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
